/*------------------------------------------------------------------------
# Variables
------------------------------------------------------------------------*/
$rgba_1 : rgba($palette-primary_3, 0.75);
$lighten1: lighten($palette-primary_1, 5%);
$lighten2: lighten($palette-primary_2, 5%);
$grad_1 : linear-gradient(to bottom, $palette-primary_4, $palette-primary_5);

/*------------------------------------------------------------------------
# Palettes
------------------------------------------------------------------------*/
.palette-primary {
	background: $palette-primary-neutral-color;
	color: $text-contrast-palette-primary-neutral-color;

	/*-----------------------------------------------
	## 1
	-----------------------------------------------*/
	.widget .table-striped > tbody > tr:nth-child(2n+1) > td {
		background: $palette-primary_1;
		border: 1px solid $palette-primary_1;
		color: $text-contrast-palette-primary_1;
	} 
	hr {
		border-top: 1px solid $palette-primary_1;
	}
	hr:after {
		border: 1px solid $palette-primary_1;
	}
	code {
		background-color: $palette-primary_1;
		color: $text-contrast-palette-primary_1;
	}

	/*-----------------------------------------------
	## 2
	-----------------------------------------------*/
	a,
	caption,
	a.url,
	.site-footer a,
	.entry-title a,
	.link-secondary,
	#menu-social li a,
	.entry-footer .cat-links > a,
	.entry-footer .tags-links > a,
	#footer-center-menu .current-menu-item a {
		color: $palette-primary_2;
	}
	#wp-calendar tbody .pad {
		background: $palette-primary_2;
	}
	.nav-next a,
	.nav-previous a {
		color: $text-contrast-palette-primary_2;
	}
	.nav > li > a:focus,
	.nav > li > a:hover {
		background-color: $palette-primary_2;
		color: $text-contrast-palette-primary_2;
	}
	.nav-next,
	.nav-previous {
		background-color: $palette-primary_2;
		border: 1px solid $palette-primary_2;
	}
	#wp-calendar #today
	.nav-next a:hover,
	.nav-next a:focus,
	.nav-previous a:hover,
	.nav-previous a:focus {
		background: $palette-primary_2;
		color: $text-contrast-palette-primary_2;
	}
	#menu-social li a:hover,
	#menu-social li a:focus {
		color: $lighten2;
	}
	#secondary-menu,
	#tertiary-menu,
	.heading-alt,
	.link-secondary,
	.sidebar a,
	.sidebar .nav > li > a,
	.sidebar .nav > li::before,
	.current-menu-item a,
	.media-heading a.url,
	#wp-calendar caption,
	#wp-calendar tbody,
	#wp-calendar tfoot #next,
	#wp-calendar tfoot #prev,
	.table > thead > tr > th,
	#secondary-menu a[href]:hover,
	#tertiary-menu a[href]:hover,
	.palette-primary.disabled-footer .site-footer a {
		color: $palette-primary_2;
	}
	.sidebar .nav > li > a:focus,
	.sidebar .nav > li > a:hover {
		background-color: transparent;
		color: $palette-primary_2;
	}
	blockquote {
		border-left: 5px solid $palette-primary_2;
	}
	aside.sidebar h2.widget-title {
		border-bottom: 1px solid $palette-primary_2;
		color: $text-contrast-palette-primary_3;
	}
	.comment-respond a,
	.comment-reply-title {
		color: $text-contrast-palette-primary_3;
	}

	/*-----------------------------------------------
	## 3
	-----------------------------------------------*/
	.sidebar,
	.panel-footer,
	.widget ul#recentcomments > li {
		background: $palette-primary_3;
	}
	.panel-body,
	.panel-heading,
	.media-heading,
	.logged-in-as a,
	.comments,
	.comment-meta a,
	.comments-title,
	.comments-area .comment-content p {
		background: $palette-primary_3;
		color: $text-contrast-palette-primary_3;
	}
	.entry-footer a,
	.site-footer p,
	#secondary-menu a,
	#tertiary-menu a,
	.attribution-theme-mods,
	#wp-calendar tbody td a,
	input.with-font[type="checkbox"] ~ label::before {
		color: $text-contrast-palette-primary_3;
	}
	.site-footer {
		background: $palette-primary_3;
		color: $text-contrast-palette-primary_3;
	}
	.site-header {
		background: $palette-primary_3;
		border-bottom: 1px solid $text-contrast-palette-primary_3;
	}
	.site-title a,
	.site-description {
		color: $text-contrast-palette-primary_3;
	}
	header.smaller,
	.palette-primary.disabled-footer .site-footer {
		background: $palette-primary_3;
	}
	#wp-calendar tbody td {
		background: $palette-primary_3;
		border: 1px solid $palette-primary_1;
		color: $text-contrast-palette-primary_3;
	} 

	/* sm */
	@media (min-width: 768px) {
		.site-header {
			background: $rgba_1;
		}
		/* Dropdown Child Default */
		.navbar-default .navbar-nav .open .dropdown-menu > li > a {
			color: $text-contrast-palette-primary_3;
		}
	}

	/*-----------------------------------------------
	## 4
	-----------------------------------------------*/
	td,
	th {
		border-bottom: 0.1rem solid $palette-primary_4;
	}
	pre {
		background-color: $palette-primary_4;
		border: 1px solid $palette-primary_3;
		color: $text-contrast-palette-primary_4;
	}
	#wp-calendar tbody td:hover {
		background: $palette-primary_4;
		color: $text-contrast-palette-primary_4;
	}

	/*-----------------------------------------------
	## 5
	-----------------------------------------------*/
	.boldgrid-gradient-bg-1 {
		background-image: $grad_1;
		color: $text-contrast-palette-primary_5;
	} 

	/*-----------------------------------------------
	## Neutral
	-----------------------------------------------*/
	.bg-img-border-thin {
		border: 1px solid $palette-primary-neutral-color;
	}
	.gallery-icon.landscape {
		border-top: 3px solid $palette-primary-neutral-color;
		border-bottom: 3px solid $palette-primary-neutral-color;
	}
	.well,
	.navbar-default .navbar-text {
		background: $palette-primary-neutral-color;
		border: $palette-primary-neutral-color;
		color: $text-contrast-palette-primary-neutral-color;
	}
	.widget.well a {
		color: $text-contrast-palette-primary-neutral-color;
	}
	.entry-footer {
		background: $palette-primary-neutral-color;
		color: $text-contrast-palette-primary-neutral-color;
	}

	/*-----------------------------------------------
	## Woocommerce
	-----------------------------------------------*/
	.total,
	.mini_cart_item > span {
		color: $palette-primary_2;
	}
	.panel {
		background: $palette-primary_2;
		color: $text-contrast-palette-primary_2;
	}
	#reviews #comments ol.commentlist li .meta {
		color: $text-contrast-palette-primary_2;
	}
	#reviews #comments ol.commentlist li .comment-text {
		border: 1px solid $text-contrast-palette-primary_2;
	}
	.nav-tabs > li > a:hover,
	.nav-tabs > li.active > a,
	.nav-tabs > li.active > a:focus,
	.nav-tabs > li.active > a:hover {
		border: 1px solid $palette-primary_2;
	}
	.woocommerce-MyAccount-navigation-link a {
		color: $text-contrast-palette-primary-neutral-color;
	}
	mark {
		background: $palette-primary_1;
		color: $text-contrast-palette-primary_1;
	}
	&.woocommerce span.price.color1-color {
		color: $palette-primary_2 !important;
	}
	&.woocommerce .color2-background-color {
		background-color: $palette-primary_1 !important;
	}
	&.woocommerce .color-2-text-contrast {
		color: $text-contrast-palette-primary_1 !important;
	}
	&.woocommerce .star-rating::before {
		color: $palette-primary_1;
	}
	&.woocommerce .pagination > .active > span.color1-background-color {
		background-color: $palette-primary_2 !important;
	}
	&.woocommerce .pagination > .active > span.color-1-text-contrast {
		color: $text-contrast-palette-primary_2 !important;
	}
	&.woocommerce div.product p.stock {
		color: $palette-primary_2;
	}

	/*-----------------------------------------------
	## Buttons
	-----------------------------------------------*/
	.button-primary {
		background: $palette-primary_1;
		color: $text-contrast-palette-primary_1;
	}
	.button-primary:hover,
	.button-primary:active {
		background: $lighten1;
		color: $text-contrast-palette-primary_1;
	}
	.button-secondary {
		background: $palette-primary_2;
		color: $text-contrast-palette-primary_2;
	}
	.button-secondary:hover,
	.button-secondary:active {
		background: $lighten2;
		color: $text-contrast-palette-primary_2;
	}

	/*-----------------------------------------------
	## Navigation Menu
	-----------------------------------------------*/
	.navbar-default .dropdown-menu > li > a {
		color: $text-contrast-palette-primary_3;
	}
	.navbar-default .navbar-toggle {
		border-color: $palette-primary_3;
	}
	.navbar-default .navbar-toggle:hover,
	.navbar-default .navbar-toggle:focus {
		background: $palette-primary_3;
	}
	.navbar-default .navbar-nav > .dropdown.active.open > a {
		color: $text-contrast-palette-primary_4;
	}
	.navbar-default .navbar-toggle .icon-bar,
	.navbar-default .navbar-toggle:hover .icon-bar,
	.navbar-default .navbar-toggle:focus .icon-bar {
		background-color: $palette-primary_2;
	}

	/* xs */
	.nav .open > a,
	.nav .open > a:hover,
	.nav .open > a:focus {
		border-color: transparent;
	}
	.navbar-default .navbar-nav .open .dropdown-menu > li > a {
		color: $text-contrast-palette-primary_2;
	}
	.navbar-default .navbar-nav .dropdown-menu {
		background: $palette-primary_2;
	}
	.navbar-default .navbar-nav > .dropdown.active.open > a,
	.navbar-default .navbar-nav > li.dropdown.active.open > a:hover,
	.navbar-default .navbar-nav > li.dropdown.active.open > a:focus {
		color: $palette-primary_2;
	}
	.navbar-default .navbar-nav > .open > a,
	.navbar-default .navbar-nav > .open > a:hover,
	.navbar-default .navbar-nav > .open > a:focus,
	.navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
	.navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
		color: $palette-primary_2;
	}

	.navbar-default .navbar-nav {
		> {
			.current-menu-parent > a {
				color: $palette-primary_2;
			}
			.active > a {
				color: $palette-primary_2;
				background: none;
					&:hover, &:focus {
						color: $palette-primary_2;
						background: none;
					}
			}
			li > a {
				color: $text-contrast-palette-primary_3;
					&:hover, &:focus {
						color: $palette-primary_2;
						background: none;
					}
			}
		}
		.dropdown .dropdown-menu > {
			.active > a {
				color: $text-contrast-palette-primary_2;
					&:hover, &:focus {
						background: $palette-primary_2;
						color: $text-contrast-palette-primary_2;
					}
			}
			li > a {
				color: $text-contrast-palette-primary_2;
				border-bottom: 4px solid $palette-primary_2;
					&:hover, &:focus {
						background: $palette-primary_1;
						color: $text-contrast-palette-primary_1;
					}
			}
		}
	}

	/* sm */
	@media (min-width: 768px) {
		/* Dropdown Child Default */
		.navbar-default .navbar-nav .open .dropdown-menu > li > a {
			color: $text-contrast-palette-primary_2;
		}
	}
}

.palette-primary.disabled-footer .site-footer {
	background-color: $palette-primary-neutral-color;
}
.palette-primary.disabled-footer .site-footer #menu-social li a {
	color: $text-contrast-palette-primary-neutral-color;
}
.palette-primary.disabled-footer .site-footer a {
	color: $palette-primary_1;
}
